// App font: load your font
//@use '@styles/base/fonts/proximanova' as font;
@import '@styles/abstracts/_mixins.scss';

$font-size: 1.6rem !default;

/* Class for Proxima Nova Condensed Light Italic */
.proxima-nova-cn-lt {
  font-family: 'Proxima Nova Cn Lt';
  font-weight: 300;
  font-style: italic;
}

/* Class for Proxima Nova Light Italic */
.proxima-nova-lt {
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  font-style: italic;
}

/* Class for Proxima Nova Condensed Regular */
.proxima-nova-cn-rg {
  font-family: 'Proxima Nova Cn Rg';
  font-weight: normal;
  font-style: normal;
}

/* Class for Proxima Nova Extrabold */
.proxima-nova-th {
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-style: normal;
}

/* Class for Proxima Nova Condensed Black */
.proxima-nova-cn-bl {
  font-family: 'Proxima Nova Cn Bl';
  font-weight: 900;
  font-style: normal;
}

/* Class for Proxima Nova Condensed Extrabold Italic */
.proxima-nova-cn-th {
  font-family: 'Proxima Nova Cn Th';
  font-weight: 800;
  font-style: italic;
}

/* Class for Proxima Nova Regular */
.proxima-nova-rg {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
}

/* Class for Proxima Nova Semibold */
.proxima-nova-semibold {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
}

/* Class for Proxima Nova Extra Condensed Thin */
.proxima-nova-excn-th {
  font-family: 'Proxima Nova ExCn Th';
  font-weight: 100;
  font-style: normal;
}

/* Class for Proxima Nova Condensed Semibold */
.proxima-nova-cn-semibold {
  font-family: 'Proxima Nova Cn Lt';
  font-weight: 600;
  font-style: normal;
}

/* Class for Proxima Nova Extra Condensed Semibold Italic */
.proxima-nova-excn-semibold-it {
  font-family: 'Proxima Nova ExCn Lt';
  font-weight: 600;
  font-style: italic;
}

/* Class for Proxima Nova Thin Italic */
.proxima-nova-thin-it {
  font-family: 'Proxima Nova Th';
  font-weight: 100;
  font-style: italic;
}

/* Class for Proxima Nova Condensed Thin */
.proxima-nova-cn-thin {
  font-family: 'Proxima Nova Cn Th';
  font-weight: 100;
  font-style: normal;
}

/* Class for Proxima Nova Condensed Regular Italic */
.proxima-nova-cn-rg-it {
  font-family: 'Proxima Nova Cn Rg';
  font-weight: normal;
  font-style: italic;
}

/* Class for Proxima Nova Extra Condensed Thin Italic */
.proxima-nova-excn-th-it {
  font-family: 'Proxima Nova ExCn Th';
  font-weight: 100;
  font-style: italic;
}

/* Class for Proxima Nova Semibold Italic */
.proxima-nova-semibold-it {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: italic;
}

/* Class for Proxima Nova Regular Italic */
.proxima-nova-rg-it {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: italic;
}

/* Class for Proxima Nova Condensed Extrabold */
.proxima-nova-cn-extrabld {
  font-family: 'Proxima Nova Cn Th';
  font-weight: 800;
  font-style: normal;
}

/* Class for Proxima Nova Extra Condensed Extrabold Italic */
.proxima-nova-excn-extrabld-it {
  font-family: 'Proxima Nova ExCn Th';
  font-weight: 800;
  font-style: italic;
}

/* Class for Proxima Nova Extra Condensed Black Italic */
.proxima-nova-excn-bl-it {
  font-family: 'Proxima Nova ExCn Bl';
  font-weight: 900;
  font-style: italic;
}

/* Class for Proxima Nova Extra Condensed Light Italic */
.proxima-nova-excn-light-it {
  font-family: 'Proxima Nova ExCn Lt';
  font-weight: 300;
  font-style: italic;
}

/* Class for Proxima Nova Condensed Thin Italic */
.proxima-nova-cn-thin-it {
  font-family: 'Proxima Nova Cn Th';
  font-weight: 100;
  font-style: italic;
}

/* Class for Proxima Nova Extra Condensed Light */
.proxima-nova-excn-light {
  font-family: 'Proxima Nova ExCn Lt';
  font-weight: 300;
  font-style: normal;
}

/* Class for Proxima Nova Condensed Bold Italic */
.proxima-nova-cn-bold-it {
  font-family: 'Proxima Nova Cn Rg';
  font-weight: bold;
  font-style: italic;
}

/* Class for Proxima Nova Extra Condensed Extrabold */
.proxima-nova-excn-extrabld {
  font-family: 'Proxima Nova ExCn Th';
  font-weight: 800;
  font-style: normal;
}

/* Class for Proxima Nova Extra Condensed Bold Italic */
.proxima-nova-excn-bold-it {
  font-family: 'Proxima Nova ExCn Rg';
  font-weight: bold;
  font-style: italic;
}

/* Class for Proxima Nova Black */
.proxima-nova-bl {
  font-family: 'Proxima Nova Bl';
  font-weight: 900;
  font-style: normal;
}

/* Class for Proxima Nova Bold */
.proxima-nova-bold {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-style: normal;
}

/* Class for Proxima Nova Extra Condensed Bold */
.proxima-nova-excn-bold {
  font-family: 'Proxima Nova ExCn Rg';
  font-weight: bold;
  font-style: normal;
}

/* Class for Proxima Nova Thin */
.proxima-nova-thin {
  font-family: 'Proxima Nova Th';
  font-weight: 100;
  font-style: normal;
}

/* Class for Proxima Nova Bold Italic */
.proxima-nova-bold-it {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-style: italic;
}

/* Class for Proxima Nova Medium */
.proxima-nova-md {
  font-family: 'Proxima Nova Md';
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px, making 1rem = 10px */
}

body {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: $font-size;
}

// Headings

$_head-font-weight: 600;
$_gap-top: 24px;
$_gap-bottom: 16px;

h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  // Prevent code inside headings from being capitalized.
  code {
    text-transform: initial;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.s1, .s2, .s3, .s4, .s5, .s6 {
  margin-top: $_gap-top;
  margin-bottom: $_gap-bottom;
}

// Headlines

h1, .h1 {
  font-weight: $_head-font-weight;
  font-size: 32px;
  line-height: 40px;
}

h2, .h2 {
  font-weight: $_head-font-weight;
  font-size: 24px;
  line-height: 30px;
}

h3, .h3 {
  font-weight: $_head-font-weight;
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-weight: $_head-font-weight;
  font-size: 16px;
  line-height: 20px;
}

h5, .h5 {
  font-weight: $_head-font-weight;
  font-size: 14px;
  line-height: 18px;
}

h6, .h6 {
  font-weight: $_head-font-weight;
  font-size: 13.7px;
  line-height: 18px;
  color: #6a737d;
}

// Sublines
$_subline-font-weight: normal;
.s1 {
  font-weight: $_subline-font-weight;
  font-size: 32px;
  line-height: 40px;
}

.s2 {
  font-weight: $_subline-font-weight;
  font-size: 24px;
  line-height: 30px;
}

.s3 {
  font-weight: $_subline-font-weight;
  font-size: 20px;
  line-height: 25px;
}

.s4 {
  font-weight: $_subline-font-weight;
  font-size: 16px;
  line-height: 20px;
}

.s5 {
  font-weight: $_subline-font-weight;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

.s6 {
  font-weight: $_subline-font-weight;
  color: #6a737d;
  font-size: 13.7px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

// Text

b, .b,
strong,
.strong {
  font-weight: bold;
}

.i {
  font-style: italic;
}

// Paragraph

// large
.p-lg {
  margin: 10px 0;
  font-size: 20px;
  line-height: 24px;
}

// medium
.p-md {
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
}

// default
p, .p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

// small
.p-sm {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
}

// extra small
.p-xs {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16px;
}

// Inline code
code {
  padding: 2px 4px;
  background-color: hsl(210, 8%, 90%);
  white-space: pre-wrap;
  border-radius: 3px;
}

// Reset code in block <pre>
pre code {
  padding: 0;
  background: none;
}

// Misc

a {
  color: #737373;
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }

  &.link {
    color: #1993ff;
  }

  &:hover {
    text-decoration: underline;
  }
}

.teaser {
  color: #737373;
  text-align: center;
  font-size: 18px;
}

.copyleft {
  &:before {
    content: '\00a9';
    font-size: 114%;
  }

  display: inline-block;
  transform: scaleX(-1);
}
