{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Home" %}

{% block styles %}
<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./home.js"></script>
{% endblock %}

{% block content %}
<section id="inicio" style="">
  <div class="video-preview">
    <iframe  src="https://www.youtube.com/embed/rxF9tv41smQ?si=y63rybW-FHN_nGdz&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>

<section id="fazemos-diferenca">
  <div class="align-wrapper">
    <div class="row">
      <div class="column">
        <h2 class="image">Nós fazemos a diferença, o mpf faz história.</h2>
      </div>

      <div class="column">
        <div>
          <p>
            <strong><i>Esta exposição</i></strong> é um convite a viajar<br/>
            no tempo. Escutar histórias. Conhecer<br/>
            e reconhecer algun daqueles que, há 30 anos,<br/>
            iniciavam uma jornada de fortalecimento<br/>
            do Ministério Público Federal (MPF).
          </p>

          <p>
            Ao navegar pelos dados e fatos do primeiro<br/>
            concurso de servidores do Ministério Público<br/>
            da União (MPU) esperamos que você seja<br/>
            envolvido por essas três décadas de muita<br/>
            transformação e evolução.
          </p>
        </div>

      </div>
    </div>

  </div>
</section>

<section id="novo-tempo">
  <div class="align-wrapper">
    <div class="text">
      <h2>UM NOVO TEMPO PARA O MPU</h2>
      <p>Os secretários-gerais de 30 anos e de hoje falam sobre sua relação<br/>com a institução e seu impacto para a sociedade.</p>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">
          <div class="membro">
            <div class="avatar">
              <img src="@images/joao-batista.png" />
            </div>

            <div class="dados">
              <strong>João Batista de Almeida</strong>
              <span>Secretário-geral do MPU<br/> de 1993 a 2000</span>
            </div>
          </div>

          <div class="info">
            <p>Membro do MPF desde 1984, João Batista foi o primeiro procurador da República a exercer o cargo de secretário-geral do MPU. Durante a sua gestão, foi realizado o primeiro concurso público de servidores do Ministério Público da União.</p>
            <button type="button" scr="https://www.youtube.com/watch?v=TIBEDlqjs00&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=11">Assistir ao vídeo</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="membro">
            <div class="avatar">
              <img src="@images/eliana-peres.png" />
            </div>

            <div class="dados">
              <strong>Eliana Peres Torelly de Carvalho</strong>
              <span>Secretária-geral do MPU<br/> desde 2020</span>
            </div>
          </div>

          <div class="info">
            <p>Eliana Torelly é subprocuradora-geral da República e coordenadora da 6ª Câmara de Coordenação e Revisão. Sua carreira no MPF começou em 1993.</p>
            <button type="button" src="https://www.youtube.com/watch?v=EHmpmvDG8a4&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=10">Assistir ao vídeo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="constituicao-federal">
  <div class="align-wrapper">
    <div class="text">
      <p><strong><i>A Constituição Federal de 1988</i></strong> estabeleceu um novo perfil institucional do<br/> MPU: defensor dos direitos da sociedade.</p>
      <p>A autonomia funcional, administrativa, orçamentária e financeira<br/>o desvinculou dos Poderes Judiciário e Executivo.</p>
      <p>O primeiro concurso para a formação do quadro permanente<br/> de servidores representou um marco dessa autonomia.</p>
    </div>
  </div>
</section>

<section id="linha-do-tempo">
  <div class="align-wrapper">
    <div class="text">
      <h2>LINHA DO TEMPO - CONCURSO 1993</h2>
    </div>

    <ul class="slides">
      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/1-edital-concurso.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">22/04/93</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>1</strong>
          <span>Publicação<br/> do Edital</span>
        </div>
      </li>

      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/2-prova-auxiliar-vigilancia.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">08/08/93</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>2</strong>
          <span>Aplicação<br/> da prova para<br/> Auxiliar<br/> Administrativo</span>
        </div>
      </li>

      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/3-prova-assistente-tecnico.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">05/09/93</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>3</strong>
          <span>Aplicação<br/> da prova para<br/> Assistente<br/> e Técnico<br/> Administrativo</span>
        </div>
      </li>

      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/4-homologacao-auxiliar.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">15/12/93</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>4</strong>
          <span>Homologação<br/> do resultado<br/> ﬁnal do cargo<br/> de Auxiliar Técnico</span>
        </div>
      </li>

      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/5-homologacao-assitente-tecnico.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">20/12/93</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>5</strong>
          <span>Homologação<br/> do resultado ﬁnal<br/> dos cargos<br/> de Técntico<br/> e Assistente</span>
        </div>
      </li>

      <li>
        <div class="preview">
          <a href="#this"><img src="@images/document.png" /></a>
          <a href="@docs/6-nomeacao.pdf" class="ico-lupa">Lupa</a>
        </div>

        <span class="data">30/01/94</span>

        <span class="bullet"></span>

        <div class="etapa">
          <strong>6</strong>
          <span>Primeira<br/> nomeação<br/> de 285<br/> servidores</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="servidores">
  <div class="align-wrapper">
    <div class="text">
      <h2>DO PASSADO AO FUTURO</h2>
      <p>Os servidores pioneiros do MPF representam um patrimônio vivo da Instituição,<br/> servindo como base sólida para o futuro. Há 30 anos, eles embarcaram em um caminho <br/> de desafios e conquistas para a construção da Justiça no Brasil. <br/> Hoje contamos com mais de 700 servidores do primeiro concurso ainda ativos e convidamos alguns<br/> deles a compartilhar um pouco de suas experiências e histórias.</p>
    </div>

    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Cila de Castro Silva</strong>
              <p>Cila iniciou sua carreira no Ministério Público do Trabalho. Em 2006, inicia sua trajetória na área de Gestão de Pessoas do Ministério Público Federal. A sua atuação na área que cuida de férias e frequência permite que ela tenha a oportunidade de ter contato com o público interno em todo o país: “Sinto que posso ajudar as pessoas”.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=kU_buyRunRY&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=5">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Luciane Gomes</strong>
              <p>A posse de Luciane no MPF coincidiu com seu aniversário de 20 anos. Ao longo de sua trajetória, teve a oportunidade de trabalhar em procuradorias dos Direitos do Cidadão em Curitiba, em João Pessoa e em Brasília, com histórias marcantes na promoção da cidadania. Atualmente, Luciane atua na Corregedoria do MPF.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=3lu5fbY3T0A&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=9">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Márcia Azeredo Thomé</strong>
              <p>Márcia é analista processual e, ao longo dos últimos 30 anos, atuou em todas as instâncias do Ministério Público Federal. Começou na Procuradoria da República em Santa Catarina, passou pela Procuradoria Regional da República da 4ª Região e, atualmente, está na Procuradoria-Geral da República, onde exerce a função de chefe de gabinete da vice-procuradoria-geral da República.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=modYDObSm7E&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=8&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Mário Augusto Lacerda Coelho</strong>
              <p>Mário ingressou no MPF aos 23 anos e construiu sua carreira nas áreas de Tecnologia da Informação e Administração. Ele participou de importantes transformações, como a transição do  processo físico para o digital, e enfrentou os desafios impostos pela pandemia à área de tecnologia. Atualmente, Mário atua na Procuradoria da República em Minas Gerais e na Procuradoria-Geral da República.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=su3DWlFnsiE&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=1&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Patrícia Mourão Cerqueira Figueiredo</strong>
              <p>Patrícia trilhou sua carreira na Procuradoria da República em Minas Gerais e acompanhou, de perto, a construção do MPF. Após longa experiência na área de Gestão de Pessoas na unidade, Patricia passou a integrar o time da área de Qualidade de Vida do Trabalho da Procuradoria-Geral da República.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=5WOM8KhquVE&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=2&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Cristina Braga</strong>
              <p>Cristina foi a primeira servidora empossada na Procuradoria da República no Amazonas. Começou como telefonista em 1994 e, com o tempo, trabalhou na assessoria administrativa. Inspirada pela experiência em um gabinete de procurador, decidiu cursar Direito, o que impulsionou sua carreira. Hoje é chefe da Seção Eleitoral no Amazonas, consolidando sua trajetória de crescimento no MPF.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=xxqc9nts6wg&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=7&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Felipe Amaro Pereira</strong>
              <p>Felipe atua na área de segurança institucional na Procuradoria Regional da República da 5ª Região, em Recife. Ao longo de sua trajetória no MPF, graduou-se  em Direito e Ciências Sociais, o que possibilitou que tivesse experiência na área finalística. É mestre em Direito, professor universitário e pai de duas meninas.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=It7uA9KRctM&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=14&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Maria Gorett Rodrigues de Morais Silva</strong>
              <p>Há 30 anos, Maria Gorett atua na Procuradoria Regional da República da 5ª Região, em Recife. Primeiro lugar no concurso de 1993 para o cargo de técnico em vigilância, ela relembra com carinho os desafios do início, quando a estrutura era limitada, mas o entusiasmo de estar no Ministério Público superava qualquer dificuldade. Hoje, atua na área de Manutenção e Serviços Gerais.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=8lwm6b2LxTo&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=3&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Roberto Martins de Matos</strong>
              <p>Flávio é secretário estadual na Procuradoria da República no Maranhão. Iniciou sua carreira em Brasília e dois anos depois, passou a atuar em sua cidade natal, São Luís. Flávio vivenciou grandes desafios, como a construção da atual sede da PR/MA.</p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=dGnZgTAwCoc&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=4&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <div class="dados">
            <div class="text">
              <strong>Eduardo Lima</strong>
              <p>Eduardo atua na área de protocolo há quase 20 anos, o que permitiu que tivesse a experiência de atendimento ao cidadão. Ao longo de sua trajetória no MPF, teve a oportunidade de se formar em Medicina Veterinária, uma de suas paixões. </p>
            </div>

            <div class="avatar">
              <img src="@images/avatar-1.png" />
            </div>
          </div>
          <button type="button" src="https://www.youtube.com/watch?v=w4X1Vtk_xhE&list=PLbbVbiVtNJf0eWuGF55BP3dQsINLcrB1x&index=6&pp=iAQB">Assistir ao vídeo</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="dados-do-concurso">
  <div class="align-wrapper">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="box">

          <div class="data">
            <h2>UM NOVO TEMPO PARA O MPU</h2>
            <p>Após apreciação pelo Congresso Nacional do plano de cargos e salários,
              a Lei nº 8.628/1993 criou a carreira de apoio técnico-administrativo do MPU.
              O primeiro concurso, realizado em 1993, foi liderado pelo procurador-geral
              Aristides Junqueira Alvarenga e ofereceu 2.481 vagas para 37 cargos.
              As provas foram realizadas nas 27 capitais do país.</p>

            <p>
              <strong>TOTAL DE VAGAS: 2480 </strong>
              <span>Vagas previstas no edital</span>
            </p>
          </div>

          <div class="grafico-inscritos">

            <span class="instrucao">Passe o mouse sobre os itens abaixo:</span>

            <div class="align">
              <ul class="labels">
                <li class="bullet">INSCRITOS</li>
                <li class="bullet">CANDIDATOS</li>
                <li class="bullet">APROVADOS</li>
                <li class="bullet">NOMEADOS</li>
                <li class="bullet">POR RAMO</li>
              </ul>

              <div class="grafico">
                <img src="@images/inscritos.png" />
              </div>

              <div class="info">
                <h3>Inscritos</h3> <strong>+ 320 mil</strong> <span>inscritos</span></h3>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="item">
        <div class="box">

          <div class="data">
            <h2>UM NOVO TEMPO PARA O MPU</h2>
            <p>Após apreciação pelo Congresso Nacional do plano de cargos e salários,
              a Lei nº 8.628/1993 criou a carreira de apoio técnico-administrativo do MPU.
              O primeiro concurso, realizado em 1993, foi liderado pelo procurador-geral
              Aristides Junqueira Alvarenga e ofereceu 2.481 vagas para 37 cargos.
              As provas foram realizadas nas 27 capitais do país.</p>

            <p>
              <strong>TOTAL DE VAGAS: 2480 </strong>
              <span>Vagas previstas no edital</span>
            </p>
          </div>

          <div class="grafico-inscritos">

            <span class="instrucao">Passe o mouse sobre os itens abaixo:</span>

            <div class="align">
              <ul class="labels">
                <li class="bullet">INSCRITOS</li>
                <li class="bullet">CANDIDATOS</li>
                <li class="bullet">APROVADOS</li>
                <li class="bullet">NOMEADOS</li>
                <li class="bullet">POR RAMO</li>
              </ul>

              <div class="grafico">
                <img src="@images/inscritos.png" />
              </div>

              <div class="info">
                <h3>Inscritos</h3> <strong>+ 320 mil</strong> <span>inscritos</span></h3>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="item">
        <div class="box">

          <div class="data">
            <h2>UM NOVO TEMPO PARA O MPU</h2>
            <p>Após apreciação pelo Congresso Nacional do plano de cargos e salários,
              a Lei nº 8.628/1993 criou a carreira de apoio técnico-administrativo do MPU.
              O primeiro concurso, realizado em 1993, foi liderado pelo procurador-geral
              Aristides Junqueira Alvarenga e ofereceu 2.481 vagas para 37 cargos.
              As provas foram realizadas nas 27 capitais do país.</p>

            <p>
              <strong>TOTAL DE VAGAS: 2480 </strong>
              <span>Vagas previstas no edital</span>
            </p>
          </div>

          <div class="grafico-inscritos">

            <span class="instrucao">Passe o mouse sobre os itens abaixo:</span>

            <div class="align">
              <ul class="labels">
                <li class="bullet">INSCRITOS</li>
                <li class="bullet">CANDIDATOS</li>
                <li class="bullet">APROVADOS</li>
                <li class="bullet">NOMEADOS</li>
                <li class="bullet">POR RAMO</li>
              </ul>

              <div class="grafico">
                <img src="@images/inscritos.png" />
              </div>

              <div class="info">
                <h3>Inscritos</h3> <strong>+ 320 mil</strong> <span>inscritos</span></h3>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section id="questoes-da-prova">
  <div class="align-wrapper">
    <div class="text">
      <h2>QUESTÕES DA PROVA</h2>
      <p>Responda algumas das questões da prova de 1993 e teste seus conhecimentos</p>
    </div>
    <div class="prova">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="pergunta">
            <span>1</span>
            <strong>O tema central do fragmento ao lado é:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>A publicidade desequilibra a relação de forças existente entre a demanda e a oferta de bens de consumo.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Dramatizar o mito da queda é o objetivo perseguido pela retórica publicitária.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>Há uma similaridade estrutural entre a elaboração publicitária e elaboração onírica.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Os comerciais veiculados pelos meios de comunicação cumprem o papel de informar o consumidor em potencial sobre as reais qualidades dos produtos.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Ao adquirir bens de consumo, o consumidor sublima suas carências afetivas num estado de deleite sublime.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>2</span>
            <strong>Uma leitura errada do texto levaria a afirmar que:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>Interpretar literalmente o discurso publicitário é uma atitude ingênua.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>A publicidade elabora um cenário onírico para os objetos da sociedade industrial.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>O discurso publicitário é formulado com mensagens que se sustentam no princípio do prazer.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>A felicidade prometida nas propagandas dá ao homem a consciência de sua finitude.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Está incorporado à publicidade o componente mítico de retorno ao paraíso.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>3</span>
            <strong>Assinale a letra que contém enunciado falso.</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>Colocadas em seqüência, as expressões "a se ressalvar" e "a se ressaltar" (l.1O) são equivalentes quanto ao sentido.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>O segmento "- da consciência da finitude -" explica a expressão "lacuna primordial" (l.16).</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>O termo "(ritualiza-se)" especifica o sentido de "representa-se" (l.20).</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>As expressões "deleite sublime", "estado nirvânico", "gozo celestial" (ls.8 e 9), colocadas em seqüência, reiteram a mesma idéia.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Em "A sua eficiência" (l.5), o possessivo refere-se à eficiência da publicidade.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>4</span>
            <strong>No sistema jurídico brasileiro,</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>é obrigatória a licitação em todos os casos de compras, alienações e serviços.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>é obrigatória a licitação apenas nos casos expressos em lei.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>a lei pode criar exceções à regra da obrigatoriedade da licitação.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>a lei não pode criar exceções à regra da obrigatoriedade da licitação.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>as empresas públicas e as sociedades de economia mista são obrigadas a licitar, se assim estiver previsto em seus estatutos.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>5</span>
            <strong>É objetivo da República Federativa do Brasil, dentre outros:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>solução pacífica dos conflitos</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>autodeterminação dos povos</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>prevalência dos direitos humanos</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>cidadania</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>erradicar a pobreza e a marginalização e reduzir as desigualdades sociais
                  e regionais</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>6</span>
            <strong>Pode propor a ação de inconstitucionalidade perante o Supremo Tribunal Federal:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>o Conselho Seccional da Ordem dos Advogados do Brasil.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>qualquer partido político.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>o Procurador-Geral da República.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>qualquer confederação sindical ou entidade de classe.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>a Mesa de Câmara Municipal.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>7</span>
            <strong>São princípios institucionais do Ministério Público:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>unidade, hierarquia, indivisibilidade e independência funcional</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>unidade, indivisibilidade e independência funcional</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>unidade, autonomia administrativa e financeira e indivisibilidade</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>autonomia funcional, autonomia administrativa e autonomia financeira</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>unidade, indivisibilidade e hierarquia</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>8</span>
            <strong>A destituição do Procurador-Geral da República depende:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>da iniciativa exclusiva do Presidente da República.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>da iniciativa do Congresso Nacional.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>da iniciativa do Senado Federal.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>da iniciativa do Presidente da República, precedida de autorização da
                  maioria absoluta do Senado Federal.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>de iniciativa dos membros do Ministério Público.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>9</span>
            <strong>A respeito do servidor concursado do Ministério Público da União, é
              correto dizer que:</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>adquire vitaliciedade após dois anos de efetivo exercício.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>não pode aposentar-se voluntariamente, enquanto pendente processo administrativo disciplinar contra ele.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>é demissível ad nutum enquanto não completa dois anos de efetivo exercício.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>somente pode ser posto em disponibilidade por força de processo administrativo disciplinar, em que se lhe assegure o direito de ampla defesa.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>somente pode ser demitido por força de sentença judicial transitada em julgado.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="pergunta">
            <span>10</span>
            <strong>Assinale a assertiva correta.</strong>
          </div>
          <div class="respostas">
            <ul>
              <li>
                <label>O processo disciplinar pode ser revisto, a qualquer tempo; ainda que já
                  falecido o servidor punido.</label>
                <input type="radio" value=""/>
              </li>
              <li class="erro">
                <label>O processo disciplinar pode ser revisto exclusivamente a pedido do
                  servidor punido.</label>
                <input type="radio" value=""/>
              </li>
              <li class="certo">
                <label>A simples alegação de injustiça da penalidade pode constituir fundamento
                  para a revisão.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>Se a Comissão Revisora entender que a punição foi excessivamente branda,
                  poderá propor o agravamento da penalidade inicialmente imposta.</label>
                <input type="radio" value=""/>
              </li>
              <li>
                <label>No processo revisionai, o ônus da prova cabe à Comissão Revisora.</label>
                <input type="radio" value=""/>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="">Voltar</a>
      <div class="devolutiva">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer</p>
      </div>
      <a href="">Responder</a>
    </div>
  </div>
</section>
{% endblock %}
