{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="MPF - 1º concurso de servidores do MPU" %}

{% block styles %}
<!-- load specific page style -->
<link href="home.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./home.js"></script>
{% endblock %}

{% block content %}
<!-- INICIO -->
{% include "src/views/pages/home/secoes/inicio/_inicio.html" %}
{% include "src/views/pages/home/secoes/fazemos-diferenca/_fazemos-diferenca.html" %}
{% include "src/views/pages/home/secoes/novo-tempo/_novo-tempo.html" %}
{% include "src/views/pages/home/secoes/constituicao-federal/_constituicao-federal.html" %}
{% include "src/views/pages/home/secoes/linha-do-tempo/_linha-do-tempo.html" %}
{% include "src/views/pages/home/secoes/depoimentos/_depoimentos.html" %}
{% include "src/views/pages/home/secoes/dados-do-concurso/_dados-do-concurso.html" %}
{% include "src/views/pages/home/secoes/questoes-da-prova/_questoes-da-prova.html" %}

<div id="myModal" class="modal">
  <div class="align">
    <span class="close"><i class="icon-close"></i></span>
    <div class="modal-content">
      <div class="video-container"><iframe id="iframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe></div>
    </div>
  </div>
</div>

{% endblock %}
