#questoes-da-prova {
  background: #f5f5f5;

  .align-wrapper {
    justify-content: flex-start;
  }
  .text {
    color: #333380;
  }
  .prova{
    border: 1px solid #333380;
    border-radius: 20px;
  }
  .questoes{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
    }
  }
  .pergunta{
    span{
      background-color: #333380;
      color: #ffffff;
      padding: 10px 20px;
      width: 10%;
      float: left;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      -webkit-border-radius: 20px 0 0 0;
      border-radius: 20px 0 0 0;
    }
    strong{
      color: #ffffff;
      background-color: #7d2b8a;
      float: right;
      width: 90%;
      padding: 26px;
      -webkit-border-radius: 0 20px 0 0 ;
      border-radius: 0 20px 0 0;
    }
  }
  .respostas{
    padding: 30px;
    clear: both;

    ul{
      margin: 0;
      padding: 0;
    }
    li{
      list-style: none;
      margin-bottom: 20px;
      clear: both;
      background-color: #333380;
      padding: 10px 20px 10px 30px;
    }
    li.erro{
      background-color: #af2222;
    }
    li.certo{
      background-color: #076700;
    }
    label{
      color: #ffffff;
    }
    input{
      float: right;
    }
  }



  .quiz-container {
    background: #FFF;
    border-radius: 20px;
    width: 100%;
    color: #333;
    border: 1px solid #333380;
    overflow: hidden;

    flex: 1;
    display: flex;
    flex-direction: column;

    #quiz {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
    }

    #question {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #fff;

      .resultado {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        display: block;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        background: no-repeat;
        color: #414042;


        button {
          width: fit-content;
        }
      }

      .index {
        font-size: 40px;
        padding: 20px 30px;
        background: #333380;
        font-weight: bold;
      }

      div:not(.resultado) {
        align-self: stretch;
        flex: 1;
        display: flex;
        align-items: center;
        background: #7d2b8a;
        padding: 0 25px;
      }

      .enunciado {
        font-size: 20px;
        flex: 1;
        font-weight: bold;
      }
    }
  }

  #options {
    padding: 20px;

    &:empty {
      display: none;
    }
  }

  #options button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    text-align: left;
    background: #333380;
    border-radius: 0px !important;
  }

  #options button.correct {
    background-color: #076700;
    color: #fff;
  }

  #options button.wrong {
    background-color: #af2222;
    color: #fff;
  }

  /* Button Styles */
  button {
    transition: all ease-in-out .2s;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #333380;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #333380;
    cursor: pointer;
  }

  button:hover {
    opacity: .8;
  }

  .hidden {
    display: none;
  }

  button {
    font-weight: bold;

    &.outline {
      background: #FFF;
      color: #333380;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;

    > div {
      min-width: 110px;
    }
  }

  #devolutiva {
    color: #333380;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    flex: 1;

    &.hidden {
      display: none;
    }
  }


}
