<div id="accessibility">
    <div class="align-wrapper">
        <ul>
            <li><button type="button" data-action="libras" title="Libras"><i class="icon-libras"></i></button></li>
            <li><button type="button" data-action="disabled" title="Acessibilidade"><i class="icon-disabled"></i></button></li>
            <li><button type="button" data-action="font-plus" title="Aumentar fonte"><i class="icon-plus-font"></i></button></li>
            <li><button type="button" data-action="font-minus" title="Diminuir fonte"><i class="icon-minus-font"></i></button></li>
            <li><button type="button" data-action="contrast" title="contraste"><i class="icon-contrast"></i></button></li>
        </ul>
    </div>
</div>
