<footer>
  <div class="align-wrapper">
    <div class="row">
      <div class="column">
        <div class="text">
          <h3><strong>FICHA TÉCNICA</strong></h3>

          <p>
            <strong>Coordenação e Organização:</strong>
            <span>Coordenadoria de Memória Institucional e Secretaria de Comunicação<br/> Social da Procuradoria-Geral da República (PGR)</span>
          </p>

          <p>
            <strong>Curadoria:</strong>
            <span>Coordenadoria de Memória Institucional (Sejud/MPF)</span>
          </p>

          <p>
            <strong>Pesquisa:</strong>
            <span>Ariobaldo Destefani, Caroline Beasley, Flávia Bakker, Levi Francelino,<br/> Luiza Brandão, Ramon Abdala</span>
          </p>

          <p>
            <strong>Texto:</strong>
            <span>Amanda Macedo (Secom) e Caroline Beasley (Sejud/MPF)</span>
          </p>

          <p>
            <strong>Projeto Expográfico:</strong>
            <span>Dobra Arquitetura</span>
          </p>
        </div>


      </div>

      <div class="column">

        <div class="text">
          <p>
            <strong>Montagem:</strong>
            <span>EVJ Produções</span>
          </p>

          <p>
            <strong>Produção Audiovisual:</strong>
            <span>Lunera Filmes</span>
          </p>

          <p>
            <strong>Audiodescrição:</strong>
            <span>Katia Dias (Secom/MPF)</span>
          </p>
        </div>

      </div>
    </div>

  </div>

  <div class="links-uteis">
    <div class="align-wrapper">
      <div class="redes-sociais">
        <strong>Siga nas redes</strong>

        <ul>
          <li class="facebook"><a href="#this" target="_blank">Facebook</a></li>
          <li class="instagram"><a href="#this" target="_blank">Instagram</a></li>
          <li class="twitter"><a href="#this" target="_blank">Twitter</a></li>
          <li class="youtube"><a href="#this" target="_blank">Youtube</a></li>
          <li class="whatsapp"><a href="#this" target="_blank">Whatsapp</a></li>
          <li class="linkedin"><a href="#this" target="_blank">Linkedin</a></li>
        </ul>
      </div>

      <div class="mpf">
        <h4><a href="#this" target="_blank" title="Ministério público federal">Ministério público federal</a></h4>
      </div>
    </div>
  </div>
</footer>

<!--<script src="https://www.youtube.com/iframe_api"></script>-->
