<footer>
  <div class="align-wrapper">
    <div class="row">
      <div class="column">
        <div class="text">
          <h3>FICHA TÉCNICA</h3>

          <p>
            <strong>Coordenação e Organização:</strong>
            <span>Coordenadoria de Memória Institucional e Secretaria de Comunicação<br/> Social da Procuradoria-Geral da República (PGR)</span>
          </p>

          <p>
            <strong>Curadoria:</strong>
            <span>Coordenadoria de Memória Institucional (Sejud/MPF)</span>
          </p>

          <p>
            <strong>Pesquisa:</strong>
            <span>Ariobaldo Destefani, Caroline Beasley, Flávia Bakker, Levi Francelino,<br/> Luiza Brandão, Ramon Abdala</span>
          </p>

          <p>
            <strong>Texto:</strong>
            <span>Amanda Macedo (Secom) e Caroline Beasley (Sejud/MPF)</span>
          </p>

          <p>
            <strong>Projeto Expográfico:</strong>
            <span>Dobra Arquitetura</span>
          </p>
        </div>


      </div>

      <div class="column">

        <div class="text">
          <p>
            <strong>Montagem:</strong>
            <span>EVJ Produções</span>
          </p>

          <p>
            <strong>Produção Audiovisual:</strong>
            <span>Lunera Filmes</span>
          </p>

          <p>
            <strong>Audiodescrição:</strong>
            <span>Katia Dias (Secom/MPF)</span>
          </p>
        </div>

      </div>
    </div>

  </div>
</footer>

