@import '@styles/abstracts/_icons.scss';

@mixin icomoon-icon($name, $pseudo: 'before') {
  $codepoint: map-get($icons, $name);

  &::#{$pseudo} {
    content: $codepoint;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2.0rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Mixin for font properties */
@mixin font-face($font-family, $font-weight, $font-style) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-style: $font-style;
}

// For small devices (phones, less than 768px)
@mixin mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

// For medium devices (tablets, 768px to 1024px)
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1280px) {
    @content;
  }
}

// For mobile and tablet combined (less than 1280px)
@mixin mobile-tablet {
  @media (max-width: 1280px) {
    @content;
  }
}
