@import '@styles/abstracts/_icons.scss';

@mixin icomoon-icon($name, $pseudo: 'before') {
  $codepoint: map-get($icons, $name);

  &::#{$pseudo} {
    content: $codepoint;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


/* Mixin for font properties */
@mixin font-face($font-family, $font-weight, $font-style) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-style: $font-style;
}


